body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Header section */
body button {
  cursor: pointer;
}
body li {
  cursor: pointer;
}
body svg {
  cursor: pointer;
}
.navbar {
  max-width: 1760px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-family: Manrope;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content_nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  line-height: 22px;
}
.nav_btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #101010;
  font-family: Manrope;
  font-weight: 700;
  line-height: 24px;
}
.hamburger {
  display: none;
  position: relative;
}
.dropdown {
  max-width: 390px;
  margin: 0px auto 0px auto;
  display: block;
  background: #ffffff;
}
.cross-icon {
  display: flex;
  justify-content: end;
  width: 90%;
  margin-top: 30px;
}
.dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 0px;
  align-items: center;
}
.cross-icon {
  cursor: pointer;
}

.dropdown ul li {
  cursor: pointer;
}
.dropdown ul button {
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

/* Hero section */
.hero-section{
   background-image: url("./images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero {
  max-width: 1760px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}
.hero_content {
  max-width: 72.22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero h1 {
  color: white;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-family: "Titania", sans-serif;
}
.hero p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  width: 568px;
  text-align: center;
  color: #ffffff;
}
.hero button {
  padding-left: 66.5px;
  padding-right: 66.5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  background: #edbd6b;
  border-radius: 40px;
  box-shadow: 4px 5px 0px #000000;
  cursor: pointer;
}
/* Services */
.services-section {
  max-width: 1440px;
  background-color: #ffff;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 160px;
  padding-right: 160px;
  font-family: Manrope;
  margin-left: auto;
  margin-right: auto;
}
.services-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.services-main h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  margin: 0px auto 0px auto;
  color: #101010;
  flex: none;
  order: 0;
  align-self: stretch;
}
.services-main p {
  max-width: 520px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.Services-partition hr{
  border: 1px solid #505050;
}
.digital-services {
  display: flex;
  flex-direction: column;
}
.digital-services1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.digital-services1 h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  letter-spacing: 0.12px;
  color: #101010;
}
.drop h2 {
  margin: 20px 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.12px;
  color: #505050;
}
.drop {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.forward_icon {
  cursor: pointer;
}
.Services-partition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  column-gap: 60px;
}
.card {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(153, 153, 153, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}
.card p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #505050;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.services-wrapper button {
  padding: 10px 30px;
  background: #fff0d7;
  border: none;
  border-radius: 60px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.services-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.btn-1 {
  background-color: #101010;
  color: #ffff;
  padding: 15px 85.5px 15px 85.5px;
  box-shadow: 4px 5px 0px #edbd6b;
  border-radius: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.btn-2 {
  background-color: #fff;
  color: #101010;
  padding: 15px 30px 15px 30px;
  box-shadow: 4px 5px 0px #edbd6b;
  border-radius: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

/* About us Section */
.about-section {
  background: #101010;
}
.about {
  max-width: 1440px;
  margin-left: auto;
  font-family: Manrope;
  margin-right: auto;
  padding: 80px 160px 80px 160px;
}
.about-us {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
}

.about-us img {
  width: 100%;
  height: 100%;  min-width: 500px;
  height: 462px;
}
.about-description {
color: #FFFFFF;
}
.about-description h1{
  font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
margin-bottom: 15px;
}
.about-description p {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.brown-line {
  border: 1px solid #edbd6b;
  margin: 60px 0px;
}
.about-aim {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
}
.aim-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aim-card img{
  width: 106.1px;
height: 90px;
}
.aim-card h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #EDBD6B;
}
.aim-card p {
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #AFAFAF;
}

/* Communication */
.Communication-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;
  padding: 80px 160px 80px 160px;
 display: grid;
 grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 34px;
  justify-content: center;
}
.work h1 {
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
color: #101010;
}
.Com-btn {
  display: flex;
  gap: 10px;
}
.Com-btn button {
  padding: 10px 40px;
  box-shadow: 4px 5px 0px #edbd6b;
  border-radius: 40px;
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
text-align: center;
}
.Com-btn1 {
  background-color: #000000;
  color: #fff;
}
.Com-btn2 {
  background-color: #fff;
  color: #000000;
}

/* Questions */
.faq-section {
  background-color: #f0f7f9;
}
.faq-questions {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;
  padding: 80px 160px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
}
.frequently {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 61px;
}
.frequently h1{
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
color: #000000;
}
.frequently p{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;  
  color: #505050;
}
.questions {
  display: flex;
  flex-direction: column;
}

.questions-list {
  display: flex;
  justify-content: space-between;
margin-bottom: 25px;
}
.questions-list h4 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 153.52%;
color: #0F0F0F;
}
.questions p {
  margin-bottom: 25px;
}

/* Contact */
.contact-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;
  padding: 80px 160px;
}
.contact-header h1 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
color: #101010;
margin-bottom: 13px;
}
.contact-header p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #777777;
  margin-bottom: 30px;
}
.contactform-section{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 50px;
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 28.3px;
  font-weight: 500;
}
.contact {
  display: flex;
  align-items: center;
  gap: 16.25px;
}
.social-icons {
  margin-top: 69px;
  display: flex;
  gap: 22px;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field label{
  padding-bottom: 8px;
}
.input-field input {
  padding-bottom: 7px;
  border-left: none;
  border-right: none;
  border-top: none;
}
.input-field textarea {
  padding-bottom: 7px;
  border-left: none;
  border-right: none;
  border-top: none;
}
.input-field input:focus {
  outline: none;
}
.input-field textarea:focus {
  outline: none;
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.submit-btn {
  background: #101010;
  box-shadow: 4px 5px 0px #edbd6b;
  border-radius: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  padding: 10px 0px;
}

/* career */
.career-section {
  background-color: #101010;
}
.career {
  color: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;
  padding: 80px 160px 80px 160px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.owl-of-minerva {
  padding-right: 64px;
}
.owl-of-minerva h1 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
margin-bottom: 20px;
}
.owl-of-minerva p{
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.contact-via-email h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 20px;
}
.mail-us {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Help Section  */
.help-section{
  background-image: url("./images/career-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.help-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;padding: 80px 160px 80px 160px;
}
.help-note {
  background-color: #edbd6b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
}
.help-note h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center;  
  color: #101010;
  width: 605px;
}
.help-btn {
  background: #101010;
  box-shadow: 4px 5px 0px #ffffff;
  border-radius: 40px;
  color: #fff;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

/* footer */
.footer-section {
  background-color: #f0f7f9;
}
.footer-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Manrope;
  padding: 80px 160px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.footer-content button{
  box-shadow: 4px 5px 0px #EDBD6B;
}
.footer-content p{
  margin: 15px 0px;
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.footer-content .social-icon{
  margin: 30px 0px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-address .address h4 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #000000;
}
.footer-address .address p{
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contact h1{
  
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #000000;
}
.footer-contact h4{
  text-decoration: underline;
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
text-underline-offset: 2px;
}
.foot-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
opacity: 0.75;

}
.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
